@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "montserrat", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom right, #b200ed, #00ffff);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 10rem);
  grid-template-rows: minmax(12rem, auto) repeat(5, 10rem);
  gap: 1rem;
}

button {
  cursor: pointer;
  font-size: 3.2rem;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  outline: no;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.span-two {
  grid-column: span 2;
}

.display {
  grid-column: 1/5;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
}



.display .previous-number {
  color: rgba(255, 255, 255, .75);
  font-size: 2.4rem;
}

.display .current-number {
  color: white;
  font-size: 4rem;
}